<div class="dropdown" style="width:100%">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <%= render_event_publish_state(event) %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li> <%= render_event_publish_option(event) %> </li>

  </ul>
</div>