
<div class="well">


  <h3> 報名人 # <%=  f.options[:child_index] + 1 %> </h3>

  <hr>

<div class="clearfix">
  <div class="col-md-6">

    <%= f.input :name, :label => "報名人姓名" %>
  </div>
</div>


<div class="clearfix">
  <div class="col-md-6">

    <%= f.input :cell_phone, :label => "報名人手機" %>
  </div>
</div>


<div class="clearfix">
  <div class="col-md-6">

    <%= f.input :email, :label => "報名人Email" %>
  </div>
</div>

</div>
