<div class="page-content">
    <div class="container doc">
        <h1 class="content-title">隱私權與個人資料保護政策</h1>
        <p>澄識科技有限公司（ GrowthSchool 服務提供者，以下稱「我們」）非常重視您的個人隱私權與個人資料保護，且遵循保護隱私權及個人資料之相關法令規定。以下是我們的隱私權與個人資料保護政策（以下稱「本政策」），將說明我們會收集哪些個人資料與如何使用這些資料，並說明其他與您的隱私相關的重要事項。</p>
        <p>您開始使用 GrowthSchool 服務時，表示您認同本政策，並同意受本政策保護。</p>
        <h2>一、 我們收集的個人資料和其他資料</h2>
        <ol>
            <li>當您註冊成為 GrowthSchool 會員時，我們會向您要求登入名稱以及電子郵件信箱。當您是透過FACEBOOK或其他網站或服務（以下稱「第三方網站」）註冊成為 GrowthSchool 會員時，您同意我們蒐集您的身分資料以及在您在第三方網站帳號上的其他資料，包括您的姓名、個人資料圖片、國籍、電子郵箱地址、出生年月日、性別、朋友的姓名，及您社交網絡相關的資訊。我們可能需要驗證您提供的資料是否與該第三方網站上的資料一致，並根據本政策儲存與利用上述資料（以下稱「個人資料」）。</li>
            <li>當您報名 GrowthSchool 上的活動時，根據主辦單位的需要及活動性質，我們可能會向您要求提供姓名、身分證字號、出生年月日、地址、電話號碼、電子郵件信箱、性別、休閒活動或興趣、職業，或其他主辦單位可能要求的資料（以下稱「活動個資」）。</li>
            <li>當您使用 GrowthSchool 網站時，我們可能會蒐集：
                <ol>
                    <li>您在 GrowthSchool 的使用資料，包含您的使用紀錄、搜尋紀錄等；</li>
                    <li>技術資料，包含URL、IP地址、瀏覽器類型、作業系統資料、語言、造訪時間與地點等，我們可能透過cookie收集這些資料，以提供網頁上的各種功能。</li>
                </ol>
                （以下稱「使用與技術資料」）
            </li>
            <li>為提供您正確、迅速的服務，當您使用 GrowthSchool 服務時(例如申請帳戶異動、提供意見回饋，或參與我們的行銷活動等)，您將需提供會員帳號資料、個人聯繫方式或其他資訊。</li>
            <li>我們將整合您的使用資料與技術資料以及您個人資料中的非個人識別資訊。這些整合資訊在整合的狀態下，將視同您個人資料進行處理。</li>
        </ol>
        <h2>二、 我們如何使用您的資訊</h2>
        <ol>
            <li>我們收集到個人資料、使用與技術資料、活動個資等，將用於以下用途：
                <ol>
                    <li>您所提供的個人資料，將用來識別會員身分、與您聯繫、完成交易、寄送發票、通知行銷活動、提供 GrowthSchool 服務或其他與 GrowthSchool 服務相關更新通知。</li>
                    <li>我們將利用您的個人資料，提供電子報服務及不定期寄發行銷活動通知。若您不希望收到任何電子報或行銷活動通知，可隨時登入帳戶取消訂閱服務。如您於設定上有任何問題，歡迎隨時與我們客服聯繫。</li>
                    <li>您在 GrowthSchool 的個人資料、使用與技術資料及其他相關資料，將提供我們內部稽核、研究分析，作為改進 GrowthSchool 服務、促進與使用者溝通或開發新服務之用。</li>
                    <li>您的活動個資將交給活動主辦單位，由活動主辦單位進一步使用於您所參加的活動。</li>
                </ol>
            </li>
            <li>未經您的同意，我們不會將您的個人資料和活動資料使用於本政策所未明訂之目的，或將您的個人資料和活動資料提供給無關的第三方。</li>
            <li>但我們可能與第三方共用綜合性的非個人資料。「綜合性非個人資料」是指記錄有關用戶的並被分組收集的資料，這些資料在經過分組後不再反映或可識別某個特定的使用者。</li>
            <li>上述資訊之處理與利用，可能由本公司之關係企業或其他合作夥伴進行，或於境外發生。除非當地法律另有規定，我們不會將您的個人資料或活動個資做其他用途。我們亦不會未經您事先同意向第三者透露您的個人資料，但因國家重大利益或為配合執法機關調查而根據法律而需要透露者除外。</li>
        </ol>
        <h2>三、 您可以如何使用您的資訊</h2>
        <ol>
            <li>您本人可透過登入 GrowthSchool 查詢、檢視、變動、更新，或複製屬於您的個人資料；若您並非會員或於我們無法查證您的會員身分，您須提供相關個人資料及書面資訊，使我們得以協助您處理查詢、檢視、變動、更新，或複製您的個人資料及帳號。</li>
            <li>您本人可要求暫停使用或刪除屬於您的個人資料；但一經暫停或刪除，您將<strong>無法繼續使用 GrowthSchool 的服務</strong>。</li>
            <li>若您提出變動、更新或刪除個人資料的請求，有妨害國家重大利益、妨害公務機關執行法定職務、妨害第三人重大利益之虞，我們有權拒絕您的請求。</li>
        </ol>
        <h2>四、 個人資料安全</h2>
        <ol>
            <li>您的個人資料與活動個資將儲存於我們在日本的伺服器，並在台灣進行處理。為保護您的隱私，我們會採取必要之技術及措施保護您的個人資料與活動個資。僅於必要知悉的情況下，我們的員工、代理人及活動的主辦單位方得使用您的個人資訊與活動個資。</li>
            <li>我們僅基於上述目的儲存您的個人資料。因此，我們將在您終止使用 GrowthSchool 服務時刪除您的個人資料。</li>
            <li>我們僅於提供您所參加活動相關資訊與服務的期間內儲存您的活動個資。</li>
            <li>您的個人資料與活動個資（例如註冊帳號及密碼等），請妥善保管，避免外洩。於個人或非個人電腦/電子裝置上使用我們的線上服務後，必要時請登出或關閉App/軟體與瀏覽器視窗，以免您的個人資料與活動個資遭人盜用。</li>
            <li>您的付費資訊(含信用卡資料)，請妥善保管，避免為他人之不法用途。</li>
            <li> GrowthSchool 網站有可能包含其他非我們網站或網頁連結，若您提供該網站您的個人資料，我們不負任何責任。</li>
            <li>您同意在 GrowthSchool 相關網站進行之消費時所留存的資料與事實相符，如嗣後發現你的個人資料或活動個資遭他人非法使用或有任何異常時，應即時通知我們。</li>
            <li>您同意於使用服務時，所提供及使用之資料皆為合法，並無侵害第三人權利、違反第三方協議或涉及任何違法行為。如因使用 GrowthSchool 服務而致第三人損害，除我們故意或重大過失外，我們並不負擔相關賠償責任。</li>
        </ol>
        <h2>五、 隱私權與個人資料保護政策之修訂與效力</h2>
        <ol>
            <li>我們將不定時更新隱私權與個人資料保護政策，並遵循當地隱私權與個人資料保護相關法令，當我們做出重大修改時，會於官方網站公布相關事宜。</li>
            <li>本隱私權與個人資料保護政策構成 GrowthSchool 使用條款的一部分。如您不同意本隱私權與個人資料保護政策之任何條款或修改變更之內容，請您立即停止使用 GrowthSchool 服務。</li>
            <li>如果您對我們的隱私權或個人資料保護政策有任何問題，請聯絡<a href="mailto: hello@growth.school">hello@growth.school</a>。</li>
        </ol>
    </div>
</div>